.home-header {
  @include dimen(100%, $home-header-height);
  @include flex(center, space-evenly);

  .home-header-tab {
    @include sq-dimen(100%);
    @include flex(center, center);

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    background-color: #222;
    color: #888;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      background-color: #424242;
    }

    &.active {
      background-color: $background-color;
      border-bottom-color: #fb0;
      color: #fff;
    }
  }
}
