.home-header {
  @include dimen(100%, 60px);
  @include flex(center, space-evenly);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000000;

  .home-header-tab {
    @include sq-dimen(100%);
    @include flex(center, center);

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    background-color: #222;
    color: #888;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

    &:hover {
      background-color: #424242;
    }

    &.active {
      background-color: #2a2a2a;
      border-bottom-color: #fb0;
      color: #fff;
    }
  }
}
