.sidebar {
  @include dimen(80px);
  @include relative();

  background-color: #424242;
  border-right: 1px solid #555;
  z-index: 1;

  .app-region {
    @include absolute(0, null, 0);
    @include sq-dimen(100%);
  }

  .sidebar-content {
    @include flex(center, flex-start, column);
    @include relative();
    @include sq-dimen(100%);

    z-index: 1;
  }
}
