.content {
  @include relative();
  overflow: auto;
}

.image {
  @include absolute(0, null, 0);
  @include flex(center, center);
  @include sq-dimen(100%);

  img {
    display: block;
    margin: auto;

    .content.fit-to-page & {
      @include sq-dimen(100%);
      object-fit: contain;
    }
  }

  &[hidden] {
    display: none;
  }
}
