.content {
  @include relative();
  overflow: auto;

  .image {
    @include absolute(0, null, 0, 0);
    @include sq-dimen(100%);
    @include flex(center, center);
  
    color: #fff;
    margin: auto;
  
    .content.fit-to-page & {
      @include sq-dimen(100% !important);
    }
  
    img {
      .content.fit-to-page & {
        @include sq-dimen(100%);
        object-fit: contain;
      }
    }
  
    &[hidden] {
      display: none;
    }
  }
}

.content-sidebar {
  .flex-spacer {
    flex: 1 1 auto;
  }

  .page-no {
    color: $icon-inactive-color;
    margin-bottom: 15px;

    &:hover {
      color: $icon-active-color;
    }
    div {
      @include flex(flex-start, center);

      &.slash {
        @include dimen(0.2em);

        &:before {
          @include dimen(1px, 1.8em);
          content: '';
          display: block;
          border-width: 1px;
          border-style: solid;
          transform: rotate(45deg);
        }
      }

      &:nth-child(2n + 1) {
        font-weight: bold;
        line-height: 1em;
        min-width: 1em;
      }

      $top: 1.5em;

      &:nth-child(1) {
        margin-top: -$top;
        text-align: right;
        white-space: pre-wrap;
      }

      &:nth-child(3) {
        margin-top: $top;
        text-align: left;
      }
    }
  }
}

.mui-menu-paper.page-no-menu-paper {
  min-width: 100px;

  .mui-menu-content {
    max-height: 200px;
  }

  .mui-menu-item {
    font-size: 16px;
  }
}
