.images {
  @include sq-dimen(100%);
  @include flex();
  @include relative();

  overflow: auto;
  outline: none;

  img {
    @include relative();

    display: block;
    margin: auto;
    max-width: 100%;
    z-index: 1;

    &.fit-to-page {
      @include sq-dimen(100%);
      object-fit: contain;
    }

    &.fit-to-width {
      @include dimen(100%, auto);
    }
  }

  .image-error {
    background-color: #000;
  }

  .image-error,
  .image-loading {
    @include absolute(0, null, 0);
    @include sq-dimen(100%);
    @include flex(center, center);

    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}
