*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  min-height: 100vh;
}

body {
  background: $background-color;
  font-size: 14px;
  font-family: Helvetica, Arial, 微軟正黑體, Microsoft JhengHei, sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

.drag-area {
  /* stylelint-disable */
  -webkit-app-region: drag;
}

body {
  > .drag-area {
    @include absolute(0, null, 0);

    width: 100%;
    min-height: 1.5em;
  }
}

[hidden] {
  display: none !important;
}
