*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  min-height: 100vh;
}

body {
  background: #2a2a2a;
  font-size: 14px;
  font-family: Helvetica, Arial, 微軟正黑體, Microsoft JhengHei, sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

#drag-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1.5em;

  /* stylelint-disable */
  -webkit-app-region: drag;
}

sup {
  position: relative;
  top: -0.3em;
}

sub {
  position: relative;
  top: 0.3em;
}
