.removable-grid {
  .wrapper {
    @include absolute(0, null, 0);
    @include flex(center, center, column);
    @include sq-dimen(100%);

    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
    opacity: 0;
  }

  &:hover {
    .wrapper {
      opacity: 1;
    }
  }
}
