$padding-y: 10px;
$transition-duration: 0.4s;

@mixin transition($duration) {
  transition: transform $duration ease;
}

.content-header {
  @include absolute(0, null, 0);
  @include dimen(100%, 40px + $padding-y * 2);

  z-index: 1;

  .content-header-content {
    @include relative();
    @include sq-dimen(100%);
    @include transition($transition-duration);

    $shadowOffset: 5px;

    background-color: #222;
    box-shadow: 0px $shadowOffset 10px -$shadowOffset #000;
    transform: translateY(calc(-100% - #{$shadowOffset}));
    overflow-x: hidden;
  }

  .content-header-content {
    @include flex(center);

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: $padding-y 25px;
  }

  &:hover {
    .content-header-content {
      transform: translateY(0);
    }
  }
}

.content-float-buttons {
  @include absolute(null, 0, null, 0);
  @include dimen(100px);

  z-index: 1;

  .content-float-buttons-content {
    @include flex(center, center, column);

    padding: 20px 0;

    $total: 4;
    $delay: 0.1s;
    @for $i from 1 to $total {
      .fab-button:nth-child(#{$i}) {
        transition-delay: ($total - $i) * $delay;
      }
    }

    .fab-button {
      transform: translateX(100%);
      @include transition($transition-duration - $delay);

      padding: 0 20px;
    }
  }

  &:hover {
    .content-float-buttons-content {
      .fab-button {
        transform: translateX(0);
      }
    }
  }
}
