.comic-chapters {
  padding: 20px 0;

  .chapter-type {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    line-height: 1em;
    order: 0;
    padding: 5px 10px;

    &.active {
      border-bottom: 2px solid #fb0;
      color: #fb0;
      display: table;
    }
  }

  .chapters-list {
    @include dimen(100%);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 15px;
    order: 1;
  }

  .chapter-item {
    @include flex(center, spacse-between);

    background-color: #333;
    min-height: 40px;
    padding: 5px 10px;

    &:hover {
      background-color: #fb0;
      color: #333;
    }
  }

  .warning {
    @include flex(center, center, column);

    margin: 50px auto auto;
    max-width: 500px;
    text-align: center;

    div {
      color: #fb0;
      cursor: pointer;
      font-weight: bold;
      margin: 1em;
    }
  }
}
