.grid-container {
  .grid {
    height: 100%;
    display: block;
  }
}

.grid-sizer-container {
  @include absolute(null, 0, 0);
  @include sq-dimen(100%);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  padding: 20px;
  visibility: hidden;
}
