.grid-container {
  .grid {
    height: 100%;
    display: block;
  }
}

.grid-sizer-container {
  @include absolute(null, 0, 0);
  @include sq-dimen(100%);

  $gap: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-row-gap: $gap;
  grid-column-gap: $gap;

  padding: 20px;
  visibility: hidden;
}
