.mui-menu-paper {
  &.mui-menu-paper {
    border-radius: 3px;
  }

  .mui-menu-content {
    overflow: auto;
  }

  .mui-menu-item {
    @include relative();
    @include padding-y(7px);
    min-height: 0;

    .mui-menu-item-content {
      @include dimen(100%);
    }
  }
}
