.sidebar {
  @include dimen($sidebar-width);
  @include relative();

  background-color: #424242;
  border-right: 1px solid #555;
  padding-top: 40px; // TODO: check fullscreen

  .app-region {
    @include app-region-drag;
    @include absolute(0, null, 0);
    @include sq-dimen(100%);

    > div {
      @include sq-dimen(100%);
      align-items: flex-start !important;
    }
  }

  .sidebar-content {
    @include flex(center, flex-start, column);
    @include relative();
    @include sq-dimen(100%);
    padding-bottom: 10px;

    .sidebar-icon {
      cursor: pointer;
      user-select: none;

      + .sidebar-icon {
        margin-top: 10px;
      }

      &:hover,
      &.active,
      > .active {
        svg {
          color: #fff;
        }
      }
    }

    .#{$ns}-icon {
      @include sq-dimen(40px);
      @include flex(center, center);

      svg {
        color: #777;
        font-size: 20px;

        &[data-icon] {
          @include sq-dimen(1em);
        }
      }
    }

    > * {
      @include app-region-no-drag;
    }
  }
}
