.sidebar {
  @include dimen($sidebar-width);
  @include relative();

  background-color: #424242;
  border-right: 1px solid #555;
  padding-top: 40px; // TODO: check fullscreen

  .app-region {
    @include app-region-drag;
    @include absolute(0, null, 0);
    @include sq-dimen(100%);

    > div {
      @include sq-dimen(100%);
      align-items: flex-start !important;
    }
  }

  .sidebar-content {
    @include flex(center, flex-start, column);
    @include relative();
    @include sq-dimen(100%);
    padding-bottom: 10px;

    .sidebar-icon {
      @include dimen(100%, 50px);
      @include flex(center, center);
      @include relative();
      user-select: none;

      &:hover,
      &.active {
        svg {
          color: #fff;
        }
      }

      &.active {
        &:after {
          @include absolute(0, 0, null, 0);
          @include dimen(0px, 90%);
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-right: 4px solid $secondary-color;
          border-radius: 50px;
          content: '';
          margin: auto;
        }
      }
    }

    .#{$ns}-icon {
      @include margin-x(auto);
      cursor: pointer;

      svg {
        color: #777;
        font-size: 27.5px;
      }
    }

    .divider {
      @include dimen(40px, 1px);
      background: #777;
      margin: 10px auto;
    }

    > * {
      @include app-region-no-drag;
    }
  }
}
