.comic-content {
  @include relative();
  overflow: auto;

  .comic-image {
    @include absolute(0, null, 0, 0);
    @include sq-dimen(100%);
    @include flex(center, center);

    color: #fff;
    margin: auto;
    user-select: none;

    .content.fit-to-page & {
      @include sq-dimen(100% !important);
    }

    img {
      .content.fit-to-page & {
        @include sq-dimen(100%);
        object-fit: contain;
      }
    }

    &[hidden] {
      display: none;
    }
  }
}
