.page-no-button {
  margin-bottom: 10px;

  .button {
    min-width: 0;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .page-no-wrapper {
    @include dimen(100%);

    display: table;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .slash {
    font-size: 24px;
    margin-left: 0.5em;
  }

  .sup,
  .sub {
    font-weight: bold;
    min-width: 1em;
    line-height: 1em;
  }

  $top: 0.5em;

  .sup {
    position: relative;
    top: -$top;
    text-align: right;
  }

  .sub {
    position: relative;
    top: $top;
    text-align: left;
  }
}
