.grid {
  @include relative();

  background-color: #232323;

  .cover {
    width: 100%;
    background-size: cover;
    background-position: 50%;
    padding-bottom: (480/360) * 100%;
    box-shadow: 2px 3px 10px #111;
  }

  .caption {
    @include dimen(100%);
    @include absolute($bottom: 0);

    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 9%, 0) 0,
      rgba(0, 0, 0, 0.5) 50%
    );
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 10px #666;
    font-weight: bold;
    padding: 20px 5px 5px;

    .name {
      font-size: 1.2em;
    }

    .name,
    .latest {
      line-height: 1.5em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
