.comic {
  $padding: 15px;

  .content {
    color: #fff;
    overflow: auto;
  }

  .comic-header {
    padding-top: $padding;
  }

  .comic-chapters {
    padding-bottom: $padding;
  }

  .comic-header,
  .comic-chapters {
    @include padding-x($padding);
  }
}
